
.hidn {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
}


.wraper_picture {
	width: 100%;
	height:auto;

}

.text_wraper {
	position: relative;
	width: 100%;
	height: auto;
}



.text_wraper {
	position: absolute;
	width: 333px;
    height: 74px;
	top: 0;
    bottom: 326px;
    left: 0;
    right: 0%;
    margin: auto;
    z-index: 2;
}

.text_wraper1 {
	position: absolute;
	width: 333px;
    height: 74px;
	top: 0;
    bottom: 326px;
    left: 0;
    right: 71%;
    margin: auto;
    z-index: 2;
}

.text_wraper2 {
	position: absolute;
	width: 333px;
    height: 74px;
	top: 0;
    bottom: 326px;
    left: 0;
    right: 28%;
    margin: auto;
    z-index: 2;
}

.text_wraper3 {
	position: absolute;
	width: 333px;
    height: 74px;
	top: 0;
    bottom: 326px;
    left: 0;
    right: 57%;
    margin: auto;
    z-index: 2;
}*/

.header {

	padding-top: 20px;
}

.location {
	display: inline-block;
	margin-right: 50px;
}

.item__left {
	display: inline-block;
}

.item__left:after {
	margin-left: 4px;
	content: '|';
	color: #fff;
}

.item__left:last-child:after {
	display: none;
}

 li a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.text__logo {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	font-style: italic;
	text-decoration: none;
}

.works {
	display: inline-block;
	margin-right: 50px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	padding: 9px;
	border: 1px solid;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.header__left {
	float: left;
	padding-top: 10px;
}

.header__right {
	float: right;
}

a:hover {
	color:  #3498db;

}

a:after {
	background-color:  #3498db;
    content: "";
    width: 1%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

/*--------------------Footer----------------*/

.footer {
	padding: 15px 0;
	background-color: #000;

}

.footer__item {
	font-size: 14px;
	  float: left;
	 width: 25%;
}

.text__logo_color {
	 color: #afafaf;
}

.footer__item a {
	 color: #fff;
}

a:hover {
	 color: #c6ea0b;

}

a:after {
	 background-color:  #3498db;
     content: "";
     width: 1%;
     -webkit-transition: width .3s ease-in-out;
     -moz--transition: width .3s ease-in-out;
     transition: width .3s ease-in-out;
}

.email {
	 display: block;
	 text-align: right;
}

.number {
	 padding-left: 15px;
	 text-decoration: none;
}

.footer__cr {
	 display: block;
	 text-align: right;
	 transition: .3s;
	 color: #afafaf;
}

.footer__cr a {
	 color: #afafaf;
	 cursor: pointer;
	 transition: .3s;
}

.footer__cr a:hover {
	 color: #ffeb3b;
}

span {
	color: #afafaf;
}

span:hover {
	color: #ffeb3b;
}

/*------Employees section-----*/

.team {
	
	padding: 80px 0 70px 0;
}

.employees__wrapper {

	float: right;
	width:  33%;
	height: auto;
	font-size: 0;
	padding: 0 15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

.employees__item {
	float: left;
	width: 50%;
	margin-left: -3px;
}

 .employees__item {

	width: 100%
	height:auto;
}

.text__left {

	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 1.4;
	float: left;
	max-width: 58%;
	color: #000;
	padding: 0 15px;
	padding-left: 15PX;
	padding-right: 15px;
	

}

 .banner__logo {
	position: absolute;
    top: 57%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    font-size: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    text-align: center;
	z-index: 1;
    text-transform: uppercase;
}



  
 .text__descr {
	padding-top: 35px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 50px;
	margin: 0;
}

  .text__italic {
  	padding-top: 25px;
  	font-size: 30px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

/*---------banner--------*/

.cont__banner {
	background-size: cover;
	background-repeat: repeat;

}

.fot__ban {
	position: relative;
	width: 100%;
	height: auto;
}

.fot_text {
	position: absolute;
    width: 51%;
    top: 47%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.fot_text1 {
	position: absolute;
    width: 52%;
    top: 47%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.fot_text2 {
	position: absolute;
    width: 53%;
    top: 47%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.fot_btn {
	position: absolute;
    width: 15%;
    height: 42px;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}

.fot_btn1 {
	position: absolute;
    width: 15%;
    height: 42px;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}

.fot_btn2 {
	position: absolute;
    width: 15%;
    height: 42px;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}
.foot__picture {
	width: 100%;
	height: auto;
}

 /*.cont__banner {
	position: relative;
	background-image: url(E:/HTML-CSS/images/logo123.jpg);
	background-repeat: repeat;

	background-size: cover;	
	height: 100vh;

}*/


/*/.banner__logo {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 0;
    margin: auto;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	z-index: 1;
}*/

/*.btn__banner {
	position: absolute;
	width: 22%;
	height: 15%
	top: 0;
	left: 0;
	right: 0;
	bottom: 90px;
	margin: auto;
	z-index: 0;
	padding: 9px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
}*/

/*.btn__banner a {
	border:1px solid #fff;
}*/

a {
	text-decoration: none;
	border-color: inherit;
	color: #fff
}

}

.btn__banner a:after {
	 background-color:  #3498db ;
     content: "";
     width: 1%;
     -webkit-transition: width .3s ease-in-out;
     -moz--transition: width .3s ease-in-out;
     transition: width .3s ease-in-out;
}
